<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>烟雾_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{170,49}</string>
                <key>spriteSourceSize</key>
                <string>{188,141}</string>
                <key>textureRect</key>
                <string>{{2,410},{170,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>烟雾_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,93}</string>
                <key>spriteSourceSize</key>
                <string>{188,141}</string>
                <key>textureRect</key>
                <string>{{2,314},{188,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>烟雾_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,97}</string>
                <key>spriteSourceSize</key>
                <string>{188,141}</string>
                <key>textureRect</key>
                <string>{{384,2},{188,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>烟雾_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,99}</string>
                <key>spriteSourceSize</key>
                <string>{188,141}</string>
                <key>textureRect</key>
                <string>{{193,106},{188,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>烟雾_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,99}</string>
                <key>spriteSourceSize</key>
                <string>{188,141}</string>
                <key>textureRect</key>
                <string>{{193,208},{188,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>烟雾_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,97}</string>
                <key>spriteSourceSize</key>
                <string>{188,141}</string>
                <key>textureRect</key>
                <string>{{384,193},{188,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>烟雾_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,95}</string>
                <key>spriteSourceSize</key>
                <string>{188,141}</string>
                <key>textureRect</key>
                <string>{{2,216},{188,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>烟雾_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,101}</string>
                <key>spriteSourceSize</key>
                <string>{188,141}</string>
                <key>textureRect</key>
                <string>{{193,2},{188,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>烟雾_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,103}</string>
                <key>spriteSourceSize</key>
                <string>{188,141}</string>
                <key>textureRect</key>
                <string>{{2,110},{188,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>烟雾_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,105}</string>
                <key>spriteSourceSize</key>
                <string>{188,141}</string>
                <key>textureRect</key>
                <string>{{2,2},{188,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>烟雾_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{184,75}</string>
                <key>spriteSourceSize</key>
                <string>{188,141}</string>
                <key>textureRect</key>
                <string>{{193,310},{184,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>烟雾_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{158,49}</string>
                <key>spriteSourceSize</key>
                <string>{188,141}</string>
                <key>textureRect</key>
                <string>{{193,388},{158,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>smoke.png</string>
            <key>size</key>
            <string>{483,461}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4ac68f039352606e7f8ed0eb33879bab:2fcb4af8f1e9b178e98c3caeaafe6b8d:5eb108908104ef4a3a5a35f25c6e2c00$</string>
            <key>textureFileName</key>
            <string>smoke.png</string>
        </dict>
    </dict>
</plist>
