<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TrueorFalse@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,60}</string>
                <key>spriteSourceSize</key>
                <string>{86,60}</string>
                <key>textureRect</key>
                <string>{{674,0},{86,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>answer_progressbar_empty@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{532,64}</string>
                <key>spriteSourceSize</key>
                <string>{532,64}</string>
                <key>textureRect</key>
                <string>{{824,0},{532,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>answer_progressbar_full@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{290,0},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>answer_progressbar_red@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{344,0},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>answernumber@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,71}</string>
                <key>spriteSourceSize</key>
                <string>{135,71}</string>
                <key>textureRect</key>
                <string>{{1620,0},{135,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bell@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,47}</string>
                <key>spriteSourceSize</key>
                <string>{40,47}</string>
                <key>textureRect</key>
                <string>{{0,0},{40,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_submit@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{364,114}</string>
                <key>spriteSourceSize</key>
                <string>{364,114}</string>
                <key>textureRect</key>
                <string>{{1254,71},{364,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>choose_circle@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{1488,0},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>choose_square@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{1554,0},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>congratulation@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{510,211}</string>
                <key>spriteSourceSize</key>
                <string>{510,211}</string>
                <key>textureRect</key>
                <string>{{499,185},{510,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flower_01@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{40,0},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flower_02@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{240,0},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flower_03@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{140,0},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flower_04@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{90,0},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leaf1@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,220}</string>
                <key>spriteSourceSize</key>
                <string>{750,220}</string>
                <key>textureRect</key>
                <string>{{0,396},{750,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leaf2@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,109}</string>
                <key>spriteSourceSize</key>
                <string>{750,109}</string>
                <key>textureRect</key>
                <string>{{0,71},{750,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>multiplechoice@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,60}</string>
                <key>spriteSourceSize</key>
                <string>{86,60}</string>
                <key>textureRect</key>
                <string>{{588,0},{86,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>next_btn@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{504,114}</string>
                <key>spriteSourceSize</key>
                <string>{504,114}</string>
                <key>textureRect</key>
                <string>{{750,71},{504,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>no@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{348,310}</string>
                <key>spriteSourceSize</key>
                <string>{348,310}</string>
                <key>textureRect</key>
                <string>{{750,396},{348,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>photo_frame64px@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{760,0},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pic@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{709,399}</string>
                <key>spriteSourceSize</key>
                <string>{709,399}</string>
                <key>textureRect</key>
                <string>{{531,706},{709,399}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>point@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{499,119}</string>
                <key>spriteSourceSize</key>
                <string>{499,119}</string>
                <key>textureRect</key>
                <string>{{0,185},{499,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>questiontype@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,58}</string>
                <key>spriteSourceSize</key>
                <string>{104,58}</string>
                <key>textureRect</key>
                <string>{{398,0},{104,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rectangle_bg@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{190,0},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>result@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{674,724}</string>
                <key>spriteSourceSize</key>
                <string>{674,724}</string>
                <key>textureRect</key>
                <string>{{1240,706},{674,724}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>singlechoice@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,60}</string>
                <key>spriteSourceSize</key>
                <string>{86,60}</string>
                <key>textureRect</key>
                <string>{{502,0},{86,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>succeed@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{510,211}</string>
                <key>spriteSourceSize</key>
                <string>{510,211}</string>
                <key>textureRect</key>
                <string>{{1009,185},{510,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>unchoose_circle@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{1422,0},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>unchoose_square@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{1356,0},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>upgrade@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{531,356}</string>
                <key>spriteSourceSize</key>
                <string>{531,356}</string>
                <key>textureRect</key>
                <string>{{0,706},{531,356}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yes@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{348,310}</string>
                <key>spriteSourceSize</key>
                <string>{348,310}</string>
                <key>textureRect</key>
                <string>{{1098,396},{348,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>res1.png</string>
            <key>size</key>
            <string>{1914,1430}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:410573e1b1ce81f9717a3c1389ed5f12:d41eb712c30d009d574395151ac88021:da63ee57ef6486fc8b44fb619f7a8bf4$</string>
            <key>textureFileName</key>
            <string>res1.png</string>
        </dict>
    </dict>
</plist>
