<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrow1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,227},{95,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,177}}</string>
                <key>sourceSize</key>
                <string>{95,177}</string>
            </dict>
            <key>arrow2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{71,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,178}}</string>
                <key>sourceSize</key>
                <string>{71,178}</string>
            </dict>
            <key>arrow3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{94,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,170}}</string>
                <key>sourceSize</key>
                <string>{94,170}</string>
            </dict>
            <key>arrow4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{88,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,182}}</string>
                <key>sourceSize</key>
                <string>{88,182}</string>
            </dict>
            <key>arrow5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,191}}</string>
                <key>sourceSize</key>
                <string>{60,191}</string>
            </dict>
            <key>arrow6.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,324},{115,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,155}}</string>
                <key>sourceSize</key>
                <string>{115,155}</string>
            </dict>
            <key>arrow7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{94,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,170}}</string>
                <key>sourceSize</key>
                <string>{94,170}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>arrow.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c3363e29126e495880724d7a44590d51$</string>
            <key>textureFileName</key>
            <string>arrow.png</string>
        </dict>
    </dict>
</plist>
