<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cloud1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,584},{643,618}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{643,618}}</string>
                <key>sourceSize</key>
                <string>{643,624}</string>
            </dict>
            <key>cloud2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1349,490},{556,494}}</string>
                <key>offset</key>
                <string>{-46,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{556,494}}</string>
                <key>sourceSize</key>
                <string>{648,506}</string>
            </dict>
            <key>cloud3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1349,2},{621,486}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{621,486}}</string>
                <key>sourceSize</key>
                <string>{621,500}</string>
            </dict>
            <key>cloud4.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,2},{654,632}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{654,632}}</string>
                <key>sourceSize</key>
                <string>{654,646}</string>
            </dict>
            <key>cloud5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{689,580}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{689,580}}</string>
                <key>sourceSize</key>
                <string>{691,590}</string>
            </dict>
            <key>cloud6.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,636},{542,456}}</string>
                <key>offset</key>
                <string>{-1,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,55},{542,456}}</string>
                <key>sourceSize</key>
                <string>{544,512}</string>
            </dict>
            <key>cloud7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1204},{450,392}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{450,392}}</string>
                <key>sourceSize</key>
                <string>{454,396}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cloud.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6fd9ec41e09e452ab72ee962e9948db6$</string>
            <key>textureFileName</key>
            <string>cloud.png</string>
        </dict>
    </dict>
</plist>
