<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ripple1.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,2},{413,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{413,146}}</string>
                <key>sourceSize</key>
                <string>{413,146}</string>
            </dict>
            <key>ripple2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{413,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{413,146}}</string>
                <key>sourceSize</key>
                <string>{413,146}</string>
            </dict>
            <key>ripple3.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,2},{399,146}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{399,146}}</string>
                <key>sourceSize</key>
                <string>{413,146}</string>
            </dict>
            <key>ripple4.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,150},{399,128}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{399,128}}</string>
                <key>sourceSize</key>
                <string>{413,146}</string>
            </dict>
            <key>ripple5.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,403},{403,136}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{403,136}}</string>
                <key>sourceSize</key>
                <string>{413,146}</string>
            </dict>
            <key>ripple6.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,403},{403,138}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{403,138}}</string>
                <key>sourceSize</key>
                <string>{413,146}</string>
            </dict>
            <key>ripple7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,814},{407,138}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{407,138}}</string>
                <key>sourceSize</key>
                <string>{413,146}</string>
            </dict>
            <key>ripple8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,403},{409,144}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{409,144}}</string>
                <key>sourceSize</key>
                <string>{413,146}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ripple.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:23982f92794b7fdc24d8cd001d7b7ee5$</string>
            <key>textureFileName</key>
            <string>ripple.png</string>
        </dict>
    </dict>
</plist>
