<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>answerpaper@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1364},{622,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{622,110}}</string>
                <key>sourceSize</key>
                <string>{622,110}</string>
            </dict>
            <key>answerpaper_01@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,1364},{621,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{621,66}}</string>
                <key>sourceSize</key>
                <string>{621,66}</string>
            </dict>
            <key>answerpaper_02@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1990},{622,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{622,46}}</string>
                <key>sourceSize</key>
                <string>{622,46}</string>
            </dict>
            <key>bao1@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1823,729},{132,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,1},{132,166}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>bao2@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1823,865},{132,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,3},{132,162}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>bao3@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1823,1273},{132,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,11},{132,146}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>bao4@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1823,1001},{132,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,6},{132,156}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>bao5@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1823,1137},{132,148}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,9},{132,148}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>homepage01@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,179},{722,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{722,288}}</string>
                <key>sourceSize</key>
                <string>{722,288}</string>
            </dict>
            <key>homepage02@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,1455},{722,460}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{722,460}}</string>
                <key>sourceSize</key>
                <string>{722,460}</string>
            </dict>
            <key>homepage03@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,1364},{722,620}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{722,620}}</string>
                <key>sourceSize</key>
                <string>{722,620}</string>
            </dict>
            <key>homepage04@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1029,729},{722,790}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{722,790}}</string>
                <key>sourceSize</key>
                <string>{722,790}</string>
            </dict>
            <key>homepage05@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1029,3},{722,953}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{722,953}}</string>
                <key>sourceSize</key>
                <string>{722,953}</string>
            </dict>
            <key>icon_unclickable_prop@3x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1029,1919},{137,117}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{137,117}}</string>
                <key>sourceSize</key>
                <string>{137,137}</string>
            </dict>
            <key>icon_unclickable_shop@3x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1823,1409},{135,135}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{135,135}}</string>
                <key>sourceSize</key>
                <string>{137,137}</string>
            </dict>
            <key>pk_line@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,1988},{396,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,9}}</string>
                <key>sourceSize</key>
                <string>{396,9}</string>
            </dict>
            <key>ranking_paper@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{726,1357}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{726,1357}}</string>
                <key>sourceSize</key>
                <string>{726,1357}</string>
            </dict>
            <key>title_01@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,91},{291,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,84}}</string>
                <key>sourceSize</key>
                <string>{291,84}</string>
            </dict>
            <key>title_02@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,3},{291,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,84}}</string>
                <key>sourceSize</key>
                <string>{291,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Home1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5633537d2d0c3260b0cfb7bfd5084069$</string>
            <key>textureFileName</key>
            <string>Home1.png</string>
        </dict>
    </dict>
</plist>
