<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bar1.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,422},{170,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,16}}</string>
                <key>sourceSize</key>
                <string>{170,16}</string>
            </dict>
            <key>bar2.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,422},{170,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,16}}</string>
                <key>sourceSize</key>
                <string>{170,16}</string>
            </dict>
            <key>btn_left_1@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1021,963},{244,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,76}}</string>
                <key>sourceSize</key>
                <string>{244,76}</string>
            </dict>
            <key>btn_left_2@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,963},{244,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,76}}</string>
                <key>sourceSize</key>
                <string>{244,76}</string>
            </dict>
            <key>btn_right_1@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,963},{244,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,76}}</string>
                <key>sourceSize</key>
                <string>{244,76}</string>
            </dict>
            <key>btn_right_2@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,963},{244,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,76}}</string>
                <key>sourceSize</key>
                <string>{244,76}</string>
            </dict>
            <key>bubble1.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,1927},{117,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,63}}</string>
                <key>sourceSize</key>
                <string>{117,63}</string>
            </dict>
            <key>common1.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,963},{250,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,66}}</string>
                <key>sourceSize</key>
                <string>{250,66}</string>
            </dict>
            <key>common2.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,320},{100,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,30}}</string>
                <key>sourceSize</key>
                <string>{100,30}</string>
            </dict>
            <key>common3.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,303},{722,414}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{722,414}}</string>
                <key>sourceSize</key>
                <string>{722,414}</string>
            </dict>
            <key>common4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,1836},{66,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,64}}</string>
                <key>sourceSize</key>
                <string>{66,64}</string>
            </dict>
            <key>common5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1423,1913},{162,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,70}}</string>
                <key>sourceSize</key>
                <string>{162,70}</string>
            </dict>
            <key>common6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1481,2},{720,558}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,558}}</string>
                <key>sourceSize</key>
                <string>{720,558}</string>
            </dict>
            <key>common7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1425,724},{281,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,194}}</string>
                <key>sourceSize</key>
                <string>{281,194}</string>
            </dict>
            <key>frame1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1015,1915},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>frame_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,2},{725,299}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{725,299}}</string>
                <key>sourceSize</key>
                <string>{725,299}</string>
            </dict>
            <key>head_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1927},{118,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,118}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>icon_bag.png</key>
            <dict>
                <key>frame</key>
                <string>{{1331,1913},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>icon_medal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1239,1913},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>icon_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{1147,1915},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>icon_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,1921},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>item1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,1207},{704,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{704,242}}</string>
                <key>sourceSize</key>
                <string>{704,242}</string>
            </dict>
            <key>item2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1099,963},{704,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{704,242}}</string>
                <key>sourceSize</key>
                <string>{704,242}</string>
            </dict>
            <key>item3.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,1209},{704,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{704,242}}</string>
                <key>sourceSize</key>
                <string>{704,242}</string>
            </dict>
            <key>item4.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,1215},{704,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{704,242}}</string>
                <key>sourceSize</key>
                <string>{704,242}</string>
            </dict>
            <key>item5.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,1221},{704,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{704,242}}</string>
                <key>sourceSize</key>
                <string>{704,242}</string>
            </dict>
            <key>item6.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,1221},{704,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{704,242}}</string>
                <key>sourceSize</key>
                <string>{704,242}</string>
            </dict>
            <key>item7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1221},{704,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{704,242}}</string>
                <key>sourceSize</key>
                <string>{704,242}</string>
            </dict>
            <key>item_leaf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,719},{704,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{704,242}}</string>
                <key>sourceSize</key>
                <string>{704,242}</string>
            </dict>
            <key>item_leaf2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,977},{704,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{704,242}}</string>
                <key>sourceSize</key>
                <string>{704,242}</string>
            </dict>
            <key>item_vine1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,733},{704,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{704,242}}</string>
                <key>sourceSize</key>
                <string>{704,242}</string>
            </dict>
            <key>item_vine2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,489},{704,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{704,242}}</string>
                <key>sourceSize</key>
                <string>{704,242}</string>
            </dict>
            <key>light_bag.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,1927},{113,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,90}}</string>
                <key>sourceSize</key>
                <string>{113,90}</string>
            </dict>
            <key>light_medal.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,1921},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>light_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,1927},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>light_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,1927},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>paper_back@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{710,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{710,167}}</string>
                <key>sourceSize</key>
                <string>{710,167}</string>
            </dict>
            <key>pic_bottom@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{750,316}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,316}}</string>
                <key>sourceSize</key>
                <string>{750,316}</string>
            </dict>
            <key>ranking_title@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,1927},{342,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,106}}</string>
                <key>sourceSize</key>
                <string>{342,106}</string>
            </dict>
            <key>rankinglist_line@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,594},{584,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{584,9}}</string>
                <key>sourceSize</key>
                <string>{584,9}</string>
            </dict>
            <key>toppart@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,1207},{627,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{627,140}}</string>
                <key>sourceSize</key>
                <string>{627,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Home.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2bff4ce52f2266163b8e30ef2d5b5ab6$</string>
            <key>textureFileName</key>
            <string>Home.png</string>
        </dict>
    </dict>
</plist>
