<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgm_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,176},{52,46}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{52,46}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>bgm_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,230},{48,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{48,44}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,122},{100,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,71}}</string>
                <key>sourceSize</key>
                <string>{100,71}</string>
            </dict>
            <key>btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{102,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,71}}</string>
                <key>sourceSize</key>
                <string>{102,71}</string>
            </dict>
            <key>common1.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,122},{46,52}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{46,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>common2.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,195},{56,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,26}}</string>
                <key>sourceSize</key>
                <string>{56,26}</string>
            </dict>
            <key>fireflies.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,276},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>head_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{118,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,118}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>head_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{118,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,118}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>rank1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,195},{56,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,92}}</string>
                <key>sourceSize</key>
                <string>{56,92}</string>
            </dict>
            <key>rank2.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,246},{49,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,66}}</string>
                <key>sourceSize</key>
                <string>{49,66}</string>
            </dict>
            <key>rank3.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,195},{49,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,66}}</string>
                <key>sourceSize</key>
                <string>{49,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Common.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b32df7f8929f1c530ee5ada0c51428dc$</string>
            <key>textureFileName</key>
            <string>Common.png</string>
        </dict>
    </dict>
</plist>
