<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>6@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,62}</string>
                <key>spriteSourceSize</key>
                <string>{196,62}</string>
                <key>textureRect</key>
                <string>{{1814,2},{196,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>answer_progressbar_grey_full@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,22}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{1049,611},{26,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>answerpaper@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{620,108}</string>
                <key>spriteSourceSize</key>
                <string>{620,108}</string>
                <key>textureRect</key>
                <string>{{2,640},{620,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>answerpaper_01@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{619,64}</string>
                <key>spriteSourceSize</key>
                <string>{619,64}</string>
                <key>textureRect</key>
                <string>{{1192,2},{619,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>answerpaper_01_1@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{619,12}</string>
                <key>spriteSourceSize</key>
                <string>{619,12}</string>
                <key>textureRect</key>
                <string>{{1192,163},{619,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>answerpaper_02@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{620,44}</string>
                <key>spriteSourceSize</key>
                <string>{620,44}</string>
                <key>textureRect</key>
                <string>{{1192,69},{620,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>answerpaper_blue_01@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{620,108}</string>
                <key>spriteSourceSize</key>
                <string>{620,108}</string>
                <key>textureRect</key>
                <string>{{625,640},{620,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>answerpaper_blue_02@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{620,44}</string>
                <key>spriteSourceSize</key>
                <string>{620,44}</string>
                <key>textureRect</key>
                <string>{{1192,116},{620,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>answerpaper_blue_03@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{619,2}</string>
                <key>spriteSourceSize</key>
                <string>{619,2}</string>
                <key>textureRect</key>
                <string>{{1192,178},{619,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_3days@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,96}</string>
                <key>spriteSourceSize</key>
                <string>{346,96}</string>
                <key>textureRect</key>
                <string>{{1170,253},{346,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_into@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,96}</string>
                <key>spriteSourceSize</key>
                <string>{346,96}</string>
                <key>textureRect</key>
                <string>{{1170,352},{346,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_into_pre@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,96}</string>
                <key>spriteSourceSize</key>
                <string>{346,96}</string>
                <key>textureRect</key>
                <string>{{1170,451},{346,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_no@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,96}</string>
                <key>spriteSourceSize</key>
                <string>{200,96}</string>
                <key>textureRect</key>
                <string>{{1815,67},{200,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_no_pre@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,96}</string>
                <key>spriteSourceSize</key>
                <string>{200,96}</string>
                <key>textureRect</key>
                <string>{{1855,166},{200,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_over@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{486,96}</string>
                <key>spriteSourceSize</key>
                <string>{486,96}</string>
                <key>textureRect</key>
                <string>{{679,216},{486,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_quit_01@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,96}</string>
                <key>spriteSourceSize</key>
                <string>{346,96}</string>
                <key>textureRect</key>
                <string>{{1519,253},{346,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_quit_02@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,96}</string>
                <key>spriteSourceSize</key>
                <string>{346,96}</string>
                <key>textureRect</key>
                <string>{{1618,183},{346,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_yes@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,96}</string>
                <key>spriteSourceSize</key>
                <string>{200,96}</string>
                <key>textureRect</key>
                <string>{{1855,369},{200,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_yes_pre@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,96}</string>
                <key>spriteSourceSize</key>
                <string>{200,96}</string>
                <key>textureRect</key>
                <string>{{1472,602},{200,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chakanline.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,5}</string>
                <key>spriteSourceSize</key>
                <string>{150,5}</string>
                <key>textureRect</key>
                <string>{{670,369},{150,5}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>close@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{1472,550},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>copper@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,74}</string>
                <key>spriteSourceSize</key>
                <string>{74,74}</string>
                <key>textureRect</key>
                <string>{{1954,273},{62,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>count down@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,98}</string>
                <key>spriteSourceSize</key>
                <string>{70,98}</string>
                <key>textureRect</key>
                <string>{{1717,479},{70,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>crown@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,26}</string>
                <key>spriteSourceSize</key>
                <string>{56,26}</string>
                <key>textureRect</key>
                <string>{{887,611},{56,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flag2@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,169}</string>
                <key>spriteSourceSize</key>
                <string>{221,169}</string>
                <key>textureRect</key>
                <string>{{1248,550},{221,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flag@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,169}</string>
                <key>spriteSourceSize</key>
                <string>{221,169}</string>
                <key>textureRect</key>
                <string>{{1675,572},{221,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{674,364}</string>
                <key>spriteSourceSize</key>
                <string>{674,364}</string>
                <key>textureRect</key>
                <string>{{2,2},{674,364}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gold@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,72}</string>
                <key>spriteSourceSize</key>
                <string>{74,74}</string>
                <key>textureRect</key>
                <string>{{1954,350},{62,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leaf_01@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{510,211}</string>
                <key>spriteSourceSize</key>
                <string>{510,211}</string>
                <key>textureRect</key>
                <string>{{679,2},{510,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leaf_02@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,64}</string>
                <key>spriteSourceSize</key>
                <string>{104,64}</string>
                <key>textureRect</key>
                <string>{{1954,166},{104,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>photo_frame94px@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,94}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{1899,572},{94,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pk_count down_bg@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{665,268}</string>
                <key>spriteSourceSize</key>
                <string>{665,268}</string>
                <key>textureRect</key>
                <string>{{2,369},{665,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rate_green_empty@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,12}</string>
                <key>spriteSourceSize</key>
                <string>{100,12}</string>
                <key>textureRect</key>
                <string>{{946,611},{100,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rate_green_full@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,12}</string>
                <key>spriteSourceSize</key>
                <string>{100,12}</string>
                <key>textureRect</key>
                <string>{{1248,722},{100,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rate_orange_empty@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,12}</string>
                <key>spriteSourceSize</key>
                <string>{100,12}</string>
                <key>textureRect</key>
                <string>{{1472,701},{100,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rate_orange_full@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,12}</string>
                <key>spriteSourceSize</key>
                <string>{100,12}</string>
                <key>textureRect</key>
                <string>{{1954,425},{100,12}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>silver@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,74}</string>
                <key>spriteSourceSize</key>
                <string>{74,74}</string>
                <key>textureRect</key>
                <string>{{1899,669},{62,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>statistics@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{404,67}</string>
                <key>spriteSourceSize</key>
                <string>{404,67}</string>
                <key>textureRect</key>
                <string>{{1192,183},{404,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tip_02@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{322,205}</string>
                <key>spriteSourceSize</key>
                <string>{322,205}</string>
                <key>textureRect</key>
                <string>{{679,315},{322,205}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>trophy@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,293}</string>
                <key>spriteSourceSize</key>
                <string>{280,293}</string>
                <key>textureRect</key>
                <string>{{887,315},{280,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weedout@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,135}</string>
                <key>spriteSourceSize</key>
                <string>{293,135}</string>
                <key>textureRect</key>
                <string>{{1717,183},{293,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pk.png</string>
            <key>size</key>
            <string>{2020,750}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2852f543eb31eaadc88e0d746bd7573b:7d6b795e670e64e90bc72ca29dc695ee:fe08325588981201c1339d3ea246bbfb$</string>
            <key>textureFileName</key>
            <string>pk.png</string>
        </dict>
    </dict>
</plist>
