<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Leaves1_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,1352},{516,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{516,226}}</string>
                <key>sourceSize</key>
                <string>{516,226}</string>
            </dict>
            <key>Leaves1_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,1026},{516,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{516,226}}</string>
                <key>sourceSize</key>
                <string>{516,226}</string>
            </dict>
            <key>Leaves1_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1142},{516,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{516,226}}</string>
                <key>sourceSize</key>
                <string>{516,226}</string>
            </dict>
            <key>Leaves1_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,914},{516,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{516,226}}</string>
                <key>sourceSize</key>
                <string>{516,226}</string>
            </dict>
            <key>Leaves1_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,834},{516,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{516,226}}</string>
                <key>sourceSize</key>
                <string>{516,226}</string>
            </dict>
            <key>Leaves1_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,508},{516,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{516,226}}</string>
                <key>sourceSize</key>
                <string>{516,226}</string>
            </dict>
            <key>Leaves1_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,686},{516,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{516,226}}</string>
                <key>sourceSize</key>
                <string>{516,226}</string>
            </dict>
            <key>Leaves1_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{516,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{516,226}}</string>
                <key>sourceSize</key>
                <string>{516,226}</string>
            </dict>
            <key>Leaves1_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,316},{516,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{516,226}}</string>
                <key>sourceSize</key>
                <string>{516,226}</string>
            </dict>
            <key>Leaves1_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{516,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{516,226}}</string>
                <key>sourceSize</key>
                <string>{516,226}</string>
            </dict>
            <key>Leaves1_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{516,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{516,226}}</string>
                <key>sourceSize</key>
                <string>{516,226}</string>
            </dict>
            <key>common1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1370},{510,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{510,211}}</string>
                <key>sourceSize</key>
                <string>{510,211}</string>
            </dict>
            <key>common2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1870},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>common4.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,2},{504,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{504,114}}</string>
                <key>sourceSize</key>
                <string>{504,114}</string>
            </dict>
            <key>crown.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,316},{56,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,26}}</string>
                <key>sourceSize</key>
                <string>{56,26}</string>
            </dict>
            <key>fail.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,2},{369,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,155}}</string>
                <key>sourceSize</key>
                <string>{369,155}</string>
            </dict>
            <key>head_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,412},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>head_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,316},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>success.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,159},{348,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,155}}</string>
                <key>sourceSize</key>
                <string>{348,155}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stageResult.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e512cadc020665da74385aad7bfe906d$</string>
            <key>textureFileName</key>
            <string>stageResult.png</string>
        </dict>
    </dict>
</plist>
