<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>20190624222729.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,3},{752,505}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{752,505}}</string>
                <key>sourceSize</key>
                <string>{752,505}</string>
            </dict>
            <key>answer_bg 750-1800@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{752,1802}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{752,1802}}</string>
                <key>sourceSize</key>
                <string>{752,1802}</string>
            </dict>
            <key>leaf1@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,512},{752,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{752,222}}</string>
                <key>sourceSize</key>
                <string>{752,222}</string>
            </dict>
            <key>leaf2@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,738},{752,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{752,111}}</string>
                <key>sourceSize</key>
                <string>{752,111}</string>
            </dict>
            <key>leaf3@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1809},{752,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{752,222}}</string>
                <key>sourceSize</key>
                <string>{752,222}</string>
            </dict>
            <key>next_btn@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1515,220},{506,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{506,116}}</string>
                <key>sourceSize</key>
                <string>{506,116}</string>
            </dict>
            <key>no@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1737,1542},{290,292}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,9},{290,292}}</string>
                <key>sourceSize</key>
                <string>{350,312}</string>
            </dict>
            <key>pic@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1515,465},{711,401}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{711,401}}</string>
                <key>sourceSize</key>
                <string>{711,401}</string>
            </dict>
            <key>plank_02@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1920,465},{344,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,108}}</string>
                <key>sourceSize</key>
                <string>{344,108}</string>
            </dict>
            <key>point@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1515,340},{501,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{501,121}}</string>
                <key>sourceSize</key>
                <string>{501,121}</string>
            </dict>
            <key>questiontype@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1920,813},{106,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,60}}</string>
                <key>sourceSize</key>
                <string>{106,60}</string>
            </dict>
            <key>result@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,853},{676,726}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{676,726}}</string>
                <key>sourceSize</key>
                <string>{676,726}</string>
            </dict>
            <key>right@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2006,877},{42,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{42,38}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>right_circle@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1920,1035},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>succeed@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1515,3},{512,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,213}}</string>
                <key>sourceSize</key>
                <string>{512,213}</string>
            </dict>
            <key>time_icon@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1920,877},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>tip_01@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,1533},{391,250}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{391,250}}</string>
                <key>sourceSize</key>
                <string>{391,252}</string>
            </dict>
            <key>tip_02@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,1542},{391,271}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{391,271}}</string>
                <key>sourceSize</key>
                <string>{391,271}</string>
            </dict>
            <key>upgrade@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1489,1180},{533,358}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{533,358}}</string>
                <key>sourceSize</key>
                <string>{533,358}</string>
            </dict>
            <key>wrong@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2006,923},{40,38}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{40,38}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>wrong_circle@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1920,963},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>yes@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1429,1542},{344,304}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{344,304}}</string>
                <key>sourceSize</key>
                <string>{350,312}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game2.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:50eb23774220182d11d9f887bd04e4be$</string>
            <key>textureFileName</key>
            <string>game2.png</string>
        </dict>
    </dict>
</plist>
