<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>20190624222647.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,503},{342,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,237}}</string>
                <key>sourceSize</key>
                <string>{342,237}</string>
            </dict>
            <key>20190624222740.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,49},{42,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{42,44}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>answer_progressbar_blue@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,273},{494,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{494,22}}</string>
                <key>sourceSize</key>
                <string>{494,22}</string>
            </dict>
            <key>answer_progressbar_empty@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{534,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{534,66}}</string>
                <key>sourceSize</key>
                <string>{534,66}</string>
            </dict>
            <key>answer_progressbar_full@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,133},{526,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{526,56}}</string>
                <key>sourceSize</key>
                <string>{526,56}</string>
            </dict>
            <key>answer_progressbar_grey@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,247},{494,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{494,22}}</string>
                <key>sourceSize</key>
                <string>{494,22}</string>
            </dict>
            <key>answer_progressbar_red@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,73},{526,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{526,56}}</string>
                <key>sourceSize</key>
                <string>{526,56}</string>
            </dict>
            <key>answernumber@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,3},{137,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,73}}</string>
                <key>sourceSize</key>
                <string>{137,73}</string>
            </dict>
            <key>bell@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,3},{42,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,49}}</string>
                <key>sourceSize</key>
                <string>{42,49}</string>
            </dict>
            <key>blank_ranking@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,3},{349,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{349,240}}</string>
                <key>sourceSize</key>
                <string>{349,240}</string>
            </dict>
            <key>btn@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,503},{348,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,98}}</string>
                <key>sourceSize</key>
                <string>{348,98}</string>
            </dict>
            <key>btn_again@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,512},{488,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{488,98}}</string>
                <key>sourceSize</key>
                <string>{488,98}</string>
            </dict>
            <key>btn_again_pre@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,512},{488,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{488,98}}</string>
                <key>sourceSize</key>
                <string>{488,98}</string>
            </dict>
            <key>btn_finish@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,512},{488,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{488,98}}</string>
                <key>sourceSize</key>
                <string>{488,98}</string>
            </dict>
            <key>btn_finish_pre@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,410},{488,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{488,98}}</string>
                <key>sourceSize</key>
                <string>{488,98}</string>
            </dict>
            <key>btn_next@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,401},{488,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{488,98}}</string>
                <key>sourceSize</key>
                <string>{488,98}</string>
            </dict>
            <key>btn_next_pre@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,299},{488,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{488,98}}</string>
                <key>sourceSize</key>
                <string>{488,98}</string>
            </dict>
            <key>btn_pre@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,512},{348,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,98}}</string>
                <key>sourceSize</key>
                <string>{348,98}</string>
            </dict>
            <key>btn_submit@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,864},{348,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,98}}</string>
                <key>sourceSize</key>
                <string>{348,98}</string>
            </dict>
            <key>btn_submit_pre@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,512},{348,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,98}}</string>
                <key>sourceSize</key>
                <string>{348,98}</string>
            </dict>
            <key>congratulation@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,193},{512,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,213}}</string>
                <key>sourceSize</key>
                <string>{512,213}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Game1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8f4ac6cf8552b0ffe2ea119fac5e61de$</string>
            <key>textureFileName</key>
            <string>Game1.png</string>
        </dict>
    </dict>
</plist>
