<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>旗子飘动_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,0}</string>
                <key>spriteSize</key>
                <string>{226,172}</string>
                <key>spriteSourceSize</key>
                <string>{252,172}</string>
                <key>textureRect</key>
                <string>{{1699,2},{226,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>旗子飘动_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,0}</string>
                <key>spriteSize</key>
                <string>{226,172}</string>
                <key>spriteSourceSize</key>
                <string>{252,172}</string>
                <key>textureRect</key>
                <string>{{1201,177},{226,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>旗子飘动_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,0}</string>
                <key>spriteSize</key>
                <string>{226,172}</string>
                <key>spriteSourceSize</key>
                <string>{252,172}</string>
                <key>textureRect</key>
                <string>{{1430,177},{226,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>旗子飘动_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,0}</string>
                <key>spriteSize</key>
                <string>{230,172}</string>
                <key>spriteSourceSize</key>
                <string>{252,172}</string>
                <key>textureRect</key>
                <string>{{737,175},{230,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>旗子飘动_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{232,172}</string>
                <key>spriteSourceSize</key>
                <string>{252,172}</string>
                <key>textureRect</key>
                <string>{{1464,2},{232,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>旗子飘动_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{234,172}</string>
                <key>spriteSourceSize</key>
                <string>{252,172}</string>
                <key>textureRect</key>
                <string>{{1227,2},{234,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>旗子飘动_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,1}</string>
                <key>spriteSize</key>
                <string>{236,170}</string>
                <key>spriteSourceSize</key>
                <string>{252,172}</string>
                <key>textureRect</key>
                <string>{{988,2},{236,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>旗子飘动_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{240,170}</string>
                <key>spriteSourceSize</key>
                <string>{252,172}</string>
                <key>textureRect</key>
                <string>{{502,2},{240,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>旗子飘动_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{244,168}</string>
                <key>spriteSourceSize</key>
                <string>{252,172}</string>
                <key>textureRect</key>
                <string>{{253,173},{244,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>旗子飘动_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{248,168}</string>
                <key>spriteSourceSize</key>
                <string>{252,172}</string>
                <key>textureRect</key>
                <string>{{2,2},{248,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>旗子飘动_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{248,168}</string>
                <key>spriteSourceSize</key>
                <string>{252,172}</string>
                <key>textureRect</key>
                <string>{{2,173},{248,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>旗子飘动_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{246,168}</string>
                <key>spriteSourceSize</key>
                <string>{252,172}</string>
                <key>textureRect</key>
                <string>{{253,2},{246,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>旗子飘动_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{240,170}</string>
                <key>spriteSourceSize</key>
                <string>{252,172}</string>
                <key>textureRect</key>
                <string>{{745,2},{240,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>旗子飘动_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,1}</string>
                <key>spriteSize</key>
                <string>{234,170}</string>
                <key>spriteSourceSize</key>
                <string>{252,172}</string>
                <key>textureRect</key>
                <string>{{500,175},{234,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>旗子飘动_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,0}</string>
                <key>spriteSize</key>
                <string>{228,172}</string>
                <key>spriteSourceSize</key>
                <string>{252,172}</string>
                <key>textureRect</key>
                <string>{{970,175},{228,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>旗子飘动_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,0}</string>
                <key>spriteSize</key>
                <string>{226,172}</string>
                <key>spriteSourceSize</key>
                <string>{252,172}</string>
                <key>textureRect</key>
                <string>{{1659,177},{226,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>banner.png</string>
            <key>size</key>
            <string>{1927,351}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fc7a5c8374420ebc57e258268dc2d3f3:ece8fbbd0d0e8e1b5226bb081ac73dea:468a889166313e164748aa683a0b056a$</string>
            <key>textureFileName</key>
            <string>banner.png</string>
        </dict>
    </dict>
</plist>
